@import url('https://fonts.googleapis.com/css?family=Special+Elite');

$white: #fff;
$bg-color: rgb(222,232,232);
$font-size: 2em;

body {
  background-color: $bg-color;
}

#header {
  display: flex;
  justify-content: center;
  font-family: 'Special Elite', cursive;
  font-size: $font-size;
  margin-top: 1.5em;
}

.container {
  display: flex; 
}

#leftArea {
  height: 80vh;
  flex-grow: 1;
}

#rightArea {
  @extend #leftArea;
  overflow: auto;
  background-color: $white;
  border: 0.25px solid grey;
}

#editor {
  width: 100%;
  height: 100%;
  padding: 1em;
  overflow: auto;
}

#preview {
  padding: 1em;
}

@media only screen and (max-width: 800px) {
  .container {
  flex-direction: column;
  }
  
  #leftArea {
  height: 42vh;
  }
}
